---
import { Image } from "astro:assets";
import logoLight from "public/EURALEX_Logo_2026_openbook_nightlight_blackfont.png";

import LocaleSwitcher from "@/components/locale-switcher.astro";
import MobileNav from "@/components/navigation/mobile-nav.astro";
import MobileNavToggle from "@/components/navigation/mobile-nav-toggle.astro";
import NavMenu from "@/components/navigation/nav-menu.astro";
import NavMenuItem from "@/components/navigation/nav-menu-item.astro";
import NavMenuLink from "@/components/navigation/nav-menu-link.astro";
import NavMenuPopover from "@/components/navigation/nav-menu-popover.astro";
import NavMenuTrigger from "@/components/navigation/nav-menu-trigger.astro";
import Navigation from "@/components/navigation/navigation.astro";
import { defaultLocale, type Locale } from "@/config/i18n.config";
import { createSingletonResource } from "@/lib/content/create-resource";
import { createI18n } from "@/lib/i18n";

const locale = (Astro.currentLocale as Locale | undefined) ?? defaultLocale;
const { t } = await createI18n(locale);
const navigation = await createSingletonResource("navigation", locale).read();
---

<header class="border-b">
	<div class="container mx-auto flex w-full justify-between px-4 py-6 text-sm font-medium">
		<Navigation class="flex-1 justify-between" label={t("WebsiteHeader.navigation-primary")}>
			<NavMenuLink class="-ml-4 inline-flex shrink-0 items-center gap-x-2 text-2xl" href="/">
				<Image
					alt=""
					class="block h-16 w-auto pr-10"
					fetchpriority="high"
					loading="eager"
					src={logoLight}
				/>
			</NavMenuLink>

			<ul class="hidden flex-wrap items-center gap-x-2 text-2xl font-bold lg:flex" role="list">
				{
					navigation.data.links.map((item) => {
						switch (item.discriminant) {
							case "link": {
								const { label, href } = item.value;

								return (
									<li>
										<NavMenuLink href={href}>{label}</NavMenuLink>
									</li>
								);
							}

							case "page": {
								const { id, label } = item.value;

								return (
									<li>
										<NavMenuLink href={`/${id}`}>{label}</NavMenuLink>
									</li>
								);
							}

							case "menu": {
								const { label, links } = item.value;

								return (
									<li>
										<NavMenu>
											<NavMenuTrigger>{label}</NavMenuTrigger>
											<NavMenuPopover>
												<ul role="list">
													{links.map((link) => {
														switch (link.discriminant) {
															case "link": {
																const { label, href } = link.value;

																return (
																	<li>
																		<NavMenuItem href={href}>{label}</NavMenuItem>
																	</li>
																);
															}

															case "page": {
																const { id, label } = link.value;

																return (
																	<li>
																		<NavMenuItem href={`/${id}`}>{label}</NavMenuItem>
																	</li>
																);
															}

															case "separator": {
																return <hr />;
															}

															default: {
																return null;
															}
														}
													})}
												</ul>
											</NavMenuPopover>
										</NavMenu>
									</li>
								);
							}

							default: {
								return null;
							}
						}
					})
				}
			</ul>
			<div class="-mr-4 hidden items-center gap-x-4 text-2xl lg:mr-0 lg:flex">
				<LocaleSwitcher />
			</div>
			<div class="ml-auto lg:hidden">
				<MobileNavToggle />
			</div>
		</Navigation>
	</div>

	<MobileNav />
</header>
