---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import acdhlogo from "public/acdh_logo_with_text_color.png";
import logoLight from "public/EURALEX_Logo_2026_openbook_nightlight_blackfont.png";
import euralexlogo from "public/EURALEX_logo_original.jpg";
import oeawlogo from "public/oeaw_short.svg";

import Link from "@/components/link.astro";
import type { Locale } from "@/config/i18n.config";
import { createI18n } from "@/lib/i18n";

const { t } = await createI18n(Astro.currentLocale as Locale | undefined);

const imprint = t("WebsiteFooter.links.imprint");
---

<footer class="border-t bg-periwinkle-200">
	<div class="bg-white">
		<div class="mx-auto grid w-full max-w-screen-lg gap-y-6 px-4 py-12 text-[#444]">
			<div class="grid items-start gap-x-8 gap-y-6 md:grid-cols-2">
				<div class="grid gap-y-2">
					<div class="text-xl font-bold">Contact</div>
					<dl class="grid gap-y-2">
						<div class="inline-flex items-center gap-x-2">
							<dt>
								<span class="sr-only">Email:</span>
								<Icon aria-hidden="true" class="text-xl text-east-bay-700" name="lucide:mail" />
							</dt>
							<dd>
								<a
									class="underline decoration-dotted underline-offset-4 hover:no-underline"
									href="mailto:euralex2026@oeaw.ac.at"
								>
									euralex2026@oeaw.ac.at
								</a>
							</dd>
						</div>
						<div class="inline-flex items-center gap-x-2">
							<dt>
								<span class="sr-only">X:</span>
								<Icon aria-hidden="true" class="text-xl text-east-bay-700" name="simple-icons:x" />
							</dt>
							<dd>
								<a
									class="underline decoration-dotted underline-offset-4 hover:no-underline"
									href="https://x.com/Euralex_news"
								>
									@Euralex_news
								</a>
							</dd>
						</div>
						<div class="inline-flex items-center gap-x-2">
							<dt>
								<span class="sr-only">Facebook:</span>
								<Icon aria-hidden="true" class="text-xl text-east-bay-700" name="lucide:facebook" />
							</dt>
							<dd>
								<a
									class="underline decoration-dotted underline-offset-4 hover:no-underline"
									href="https://www.facebook.com/p/Euralex-100063602589622/"
								>
									Euralex
								</a>
							</dd>
						</div>
						<div class="inline-flex items-center gap-x-2">
							<dt>
								<span class="sr-only">Bluesky:</span>
								<Icon
									aria-hidden="true"
									class="text-xl text-east-bay-700"
									name="simple-icons:bluesky"
								/>
							</dt>
							<dd>
								<a
									class="underline decoration-dotted underline-offset-4 hover:no-underline"
									href="https://bsky.app/profile/euralex.bsky.social/"
								>
									Euralex
								</a>
							</dd>
						</div>
						<div class="inline-flex items-center gap-x-2">
							<div
								class="inline-block rounded-full bg-east-bay-600 px-4 py-2 text-center text-sm text-white transition"
							>
								Please use the Hashtag #EURALEX2026 in your posts!
							</div>
						</div>
					</dl>
				</div>

				<div class="grid gap-y-2">
					<div class="text-xl font-bold"></div>
					<div class="flex items-center gap-6">
						<a
							class="underline decoration-dotted underline-offset-4 hover:no-underline"
							href="https://euralex.org/"
						>
							<Image alt="" class="block h-10 w-auto" loading="lazy" src={euralexlogo} />
						</a>
						<Image alt="" class="block h-10 w-auto" loading="lazy" src={logoLight} />
						<a
							class="underline decoration-dotted underline-offset-4 hover:no-underline"
							href="https://www.oeaw.ac.at/acdh/"
						>
							<Image alt="" class="block h-10 w-auto" loading="lazy" src={acdhlogo} />
						</a>
						<a
							class="underline decoration-dotted underline-offset-4 hover:no-underline"
							href="https://www.oeaw.ac.at/"
						>
							<Image alt="" class="block h-10 w-auto" loading="lazy" src={oeawlogo} />
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mx-auto flex w-full max-w-screen-lg items-center justify-between px-4 py-2 text-sm">
		<div>
			<Link
				class="underline decoration-dotted underline-offset-4 hover:no-underline"
				href="/imprint"
			>
				{imprint}
			</Link>
		</div>

		<div>
			&copy; {new Date().getUTCFullYear()}
			<a
				class="underline decoration-dotted underline-offset-4 hover:no-underline"
				href="https://www.oeaw.ac.at/acdh"
			>
				ACDH
			</a>
			|
			<Link
				class="underline decoration-dotted underline-offset-4 hover:no-underline"
				href="/feed.xml"
			>
				RSS Feed
			</Link>
		</div>
	</div>
</footer>
